<ion-header>
  <ion-toolbar color="duckflix-white">
    <ion-title>
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-align-items-center">
          <ion-col size="9" class="ion-no-padding">
            <ion-img src="../../assets/images/Duckflix_logo.svg" class="Duckflix logo"></ion-img>
          </ion-col>
          <ion-col size="3" class="ion-text-right ion-no-padding"><a class="login" routerLink="/">S'identifier</a></ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>E-mail envoyé</h2>
  <p>Des instructions pour réinitialiser votre mot de passe viennent d'être envoyées. Si le message n'apparaît pas dans votre boîte de réception, vérifiez vos dossiers Courrier indésirable ou Spam.</p>
</ion-content>
