.logo {
    width: 30%;
}

h2,
p {
    color: #333333;
}

.login {
    color: #e50914;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: right;
    &:hover {
        text-decoration: underline;
    }
}

ion-content {
    --ion-background-color: #f3f3f3;
    h2 {
        font-weight: normal;
    }
}

ion-toolbar {
    border-bottom: 1px solid #e6e6e6;
}
.header-md:after {
    content: none!important;
}