.logo {
    width: 30%;
}

h1,
p {
    color: #333333;
}

h1 {
    font-size: 2rem;
    margin-top: 0;
}

.login {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-align: right;
    &:hover {
        text-decoration: underline;
    }
}

.tologin {
    color: #333333;
    cursor: pointer;
    font-weight: bold;
    &:hover {
        text-decoration: underline;
    }
}

.error-message,
.validation-errors {
    color: #ffffff;
}

.error-bg {
    background-color: #ffa00a;
    padding: 10px 20px;
}

ion-button {
    text-transform: initial;
    margin-top: 20px;
}

ion-item {
    --ion-background-color: #ffffff;
    color: #000000;
}

span {
    color: #ffffff;
}

.header-md:after {
    content: none!important;
}

ion-toolbar {
    border-bottom: 1px solid #e6e6e6;
}

// Fix color label flottant
.item-has-focus.label-floating.sc-ion-label-md-h, .item-has-focus .label-floating.sc-ion-label-md-h, .item-has-focus.label-stacked.sc-ion-label-md-h, .item-has-focus .label-stacked.sc-ion-label-md-h {
    color: var(--ion-color-duckflix-dark, #8c8c8c);
}

ion-item {
    border: 1px solid #8c8c8c;
}