<ion-header>
  <ion-toolbar color="duckflix-dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab3" text="Plus"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-avatar>
          <img src="https://occ-0-55-56.1.nflxso.net/art/8ddc9/8a688e737601c0de965fc98e41403e972e78ddc9.png">
        </ion-avatar>
      </ion-col>
      <ion-col size="10">
        <p class="ion-text-center">Votre adresse email : {{userEmail}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>  