ion-content {
    --ion-background-color: var(--ion-color-duckflix-dark);
}
.scroll-box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

.affiche {
    margin-left: 5px;
  }
  
  .movie img,
  .movie ion-img {
    height: 150px;
    width: auto;
    max-width: none;
    cursor: pointer;
  }