<ion-content>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center">
          <img class="logo-header" src="../../assets/images/d-logo.svg">
        </ion-col>
        <ion-col class="ion-text-center">
          <a class="item-menu" href="#">Séries</a>
        </ion-col>
        <ion-col class="ion-text-center">
          <a class="item-menu" href="#">Films</a>
        </ion-col>
        <ion-col class="ion-text-center">
          <a class="item-menu" href="#">Ma liste</a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <img class="img-intro" src="../../assets/images/affiche-dracula2.jpg" alt="affiche dracula">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center submenu">
      <ion-col size="4" class="ion-text-center">
        <ion-button class="btn-liste" size="large" fill="clear" color="duckflix-white">
          <div>
            <ion-icon class="icon-liste" name="add" md="md-add"></ion-icon><br>
            <ion-label class="label-liste">Ma liste</ion-label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-button routerLink="/introvideo" color="duckflix-white">
          <ion-icon name="play" md="md-play"></ion-icon>
          <ion-label class="label-lecture">Lecture</ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-button (click)="Movie13()" class="btn-liste" size="large" fill="clear" color="duckflix-white">
          <div>
            <ion-icon class="icon-infos" name="information-circle-outline"></ion-icon><br>
            <ion-label class="label-infos">Infos</ion-label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p class="box-title">Séries d'action et d'aventure</p>
  <div class="scroll-box">
    <ng-container *ngIf="action">
      <div class="movie" *ngFor="let image of images">
        <p class="affiche" *ngIf="image.id == 0"><img (click)="Movie0()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 1"><img (click)="Movie1()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 2"><img (click)="Movie2()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 3"><img (click)="Movie3()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 4"><img (click)="Movie4()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 5"><img (click)="Movie5()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 6"><img (click)="Movie6()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 7"><img (click)="Movie7()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 8"><img (click)="Movie8()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 9"><img (click)="Movie9()" [src]="image.url"/></p>
      </div>
    </ng-container>
  </div>

  <p class="box-title">Tendances actuelles</p>
  <div class="scroll-box">
    <ng-container *ngIf="tendances">
      <div class="movie" *ngFor="let image of images">
        <p class="affiche" *ngIf="image.id == 10"><img (click)="Movie10()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 11"><img (click)="Movie11()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 12"><img (click)="Movie12()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 13"><img (click)="Movie13()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 14"><img (click)="Movie14()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 15"><img (click)="Movie15()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 16"><img (click)="Movie16()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 17"><img (click)="Movie17()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 18"><img (click)="Movie18()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 19"><img (click)="Movie19()" [src]="image.url"/></p>
      </div>
    </ng-container>
  </div>
  <p class="box-title">Disponible dès maintenant</p>
  <video width="100%">
    <source src="https://firebasestorage.googleapis.com/v0/b/duckflix-d1f80.appspot.com/o/videos%2Fdracula.mp4?alt=media&token=8121f96a-8746-47c4-80e1-588d2aa2a9fa" type="video/mp4">
  </video>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button routerLink="/introvideo" color="duckflix-white">
          <ion-icon name="play" md="md-play"></ion-icon>
          <ion-label class="label-lecture">Lecture</ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="btn-liste btn-xl" color="dark">
            <ion-icon class="icon-liste" name="add" md="md-add"></ion-icon>
            <ion-label class="label-liste">Ma liste</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p class="box-title">Séries primées</p>
  <div class="scroll-box">
    <ng-container *ngIf="action">
      <div class="movie" *ngFor="let image of images">
        <p class="affiche" *ngIf="image.id == 0"><img (click)="Movie0()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 1"><img (click)="Movie1()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 2"><img (click)="Movie2()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 3"><img (click)="Movie3()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 4"><img (click)="Movie4()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 5"><img (click)="Movie5()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 6"><img (click)="Movie6()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 7"><img (click)="Movie7()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 8"><img (click)="Movie8()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 9"><img (click)="Movie9()" [src]="image.url"/></p>
      </div>
    </ng-container>
  </div>

  <p class="box-title">Thrillers</p>
  <div class="scroll-box">
    <ng-container *ngIf="tendances">
      <div class="movie" *ngFor="let image of images">
        <p class="affiche" *ngIf="image.id == 10"><img (click)="Movie10()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 11"><img (click)="Movie11()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 12"><img (click)="Movie12()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 13"><img (click)="Movie13()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 14"><img (click)="Movie14()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 15"><img (click)="Movie15()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 16"><img (click)="Movie16()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 17"><img (click)="Movie17()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 18"><img (click)="Movie18()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 19"><img (click)="Movie19()" [src]="image.url"/></p>
      </div>
    </ng-container>
  </div>

  <p class="box-title">Nouveautés</p>
  <div class="scroll-box">
    <ng-container *ngIf="action">
      <div class="movie" *ngFor="let image of images">
        <p class="affiche" *ngIf="image.id == 0"><img (click)="Movie0()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 1"><img (click)="Movie1()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 2"><img (click)="Movie2()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 3"><img (click)="Movie3()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 4"><img (click)="Movie4()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 5"><img (click)="Movie5()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 6"><img (click)="Movie6()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 7"><img (click)="Movie7()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 8"><img (click)="Movie8()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 9"><img (click)="Movie9()" [src]="image.url"/></p>
      </div>
    </ng-container>
  </div>

  <p class="box-title">Les plus gros succès sur Netflix</p>
  <div class="scroll-box">
    <ng-container *ngIf="tendances">
      <div class="movie" *ngFor="let image of images">
        <p class="affiche" *ngIf="image.id == 10"><img (click)="Movie10()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 11"><img (click)="Movie11()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 12"><img (click)="Movie12()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 13"><img (click)="Movie13()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 14"><img (click)="Movie14()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 15"><img (click)="Movie15()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 16"><img (click)="Movie16()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 17"><img (click)="Movie17()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 18"><img (click)="Movie18()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 19"><img (click)="Movie19()" [src]="image.url"/></p>
      </div>
    </ng-container>
  </div>

  <p class="box-title">Séries policières</p>
  <div class="scroll-box">
    <ng-container *ngIf="action">
      <div class="movie" *ngFor="let image of images">
        <p class="affiche" *ngIf="image.id == 0"><img (click)="Movie0()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 1"><img (click)="Movie1()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 2"><img (click)="Movie2()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 3"><img (click)="Movie3()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 4"><img (click)="Movie4()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 5"><img (click)="Movie5()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 6"><img (click)="Movie6()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 7"><img (click)="Movie7()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 8"><img (click)="Movie8()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 9"><img (click)="Movie9()" [src]="image.url"/></p>
      </div>
    </ng-container>
  </div>

  <p class="box-title">Héroïnes de séries</p>
  <div class="scroll-box">
    <ng-container *ngIf="tendances">
      <div class="movie" *ngFor="let image of images">
        <p class="affiche" *ngIf="image.id == 10"><img (click)="Movie10()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 11"><img (click)="Movie11()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 12"><img (click)="Movie12()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 13"><img (click)="Movie13()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 14"><img (click)="Movie14()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 15"><img (click)="Movie15()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 16"><img (click)="Movie16()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 17"><img (click)="Movie17()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 18"><img (click)="Movie18()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 19"><img (click)="Movie19()" [src]="image.url"/></p>
      </div>
    </ng-container>
  </div>

  <p class="box-title">Séries comiques</p>
  <div class="scroll-box">
    <ng-container *ngIf="action">
      <div class="movie" *ngFor="let image of images">
        <p class="affiche" *ngIf="image.id == 0"><img (click)="Movie0()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 1"><img (click)="Movie1()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 2"><img (click)="Movie2()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 3"><img (click)="Movie3()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 4"><img (click)="Movie4()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 5"><img (click)="Movie5()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 6"><img (click)="Movie6()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 7"><img (click)="Movie7()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 8"><img (click)="Movie8()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 9"><img (click)="Movie9()" [src]="image.url"/></p>
      </div>
    </ng-container>
  </div>

  <p class="box-title">Séries US</p>
  <div class="scroll-box">
    <ng-container *ngIf="tendances">
      <div class="movie" *ngFor="let image of images">
        <p class="affiche" *ngIf="image.id == 10"><img (click)="Movie10()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 11"><img (click)="Movie11()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 12"><img (click)="Movie12()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 13"><img (click)="Movie13()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 14"><img (click)="Movie14()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 15"><img (click)="Movie15()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 16"><img (click)="Movie16()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 17"><img (click)="Movie17()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 18"><img (click)="Movie18()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 19"><img (click)="Movie19()" [src]="image.url"/></p>
      </div>
    </ng-container>
  </div>

  <p class="box-title">Séries inspirées de livres</p>
  <div class="scroll-box">
    <ng-container *ngIf="action">
      <div class="movie" *ngFor="let image of images">
        <p class="affiche" *ngIf="image.id == 0"><img (click)="Movie0()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 1"><img (click)="Movie1()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 2"><img (click)="Movie2()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 3"><img (click)="Movie3()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 4"><img (click)="Movie4()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 5"><img (click)="Movie5()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 6"><img (click)="Movie6()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 7"><img (click)="Movie7()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 8"><img (click)="Movie8()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 9"><img (click)="Movie9()" [src]="image.url"/></p>
      </div>
    </ng-container>
  </div>

  <p class="box-title">Séries saluées par la critique</p>
  <div class="scroll-box">
    <ng-container *ngIf="tendances">
      <div class="movie" *ngFor="let image of images">
        <p class="affiche" *ngIf="image.id == 10"><img (click)="Movie10()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 11"><img (click)="Movie11()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 12"><img (click)="Movie12()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 13"><img (click)="Movie13()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 14"><img (click)="Movie14()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 15"><img (click)="Movie15()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 16"><img (click)="Movie16()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 17"><img (click)="Movie17()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 18"><img (click)="Movie18()" [src]="image.url"/></p>
        <p class="affiche" *ngIf="image.id == 19"><img (click)="Movie19()" [src]="image.url"/></p>
      </div>
    </ng-container>
  </div>

  <p class="box-title">Ma liste</p>
</ion-content>
