<ion-header>
  <ion-toolbar color="duckflix-white">
    <ion-title>
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-align-items-center">
          <ion-col size="9" class="ion-no-padding">
            <ion-img src="../../assets/images/Duckflix_logo.svg" class="Duckflix logo"></ion-img>
          </ion-col>
          <ion-col size="3" class="ion-text-right ion-no-padding"><a class="login" routerLink="/">S'identifier</a></ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>E-mail ou mot de passe oublié</h1>
  <p>Nous vous enverrons les instructions de réinitialisation de votre mot de passe par e-mail.</p>
  <form class="form" [formGroup]="validations_form" (ngSubmit)="forgotPassword(validations_form.value)">
    <ion-item>
      <ion-input type="text" formControlName="email" placeholder="nom@exemple.com"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-button size="large" expand="block" fill="solid" color="duckflix-blue" class="submit-btn" type="submit" [disabled]="!validations_form.valid">Envoyez-moi un e-mail</ion-button>
    
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
  </form>
</ion-content>
